h1 {
    font-family: Avenir;
}

h2 {
    font-family: Avenir;
    font-weight: 400;
}

h3 {
    font-family: Playfair Display;
}

h4 {
    font-family: Playfair Display;
}

.oldp, .newp, .btn {
    font-family: Playfair Display;
}

