@font-face {
    font-family: Avenir;
    src: url(AvenirLTStd-Book.otf);
  }

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@media screen and (min-width: 600px) {
    

    body{ 
        background-color: #EDEDED;
        margin: 0%;
    }

    nav{
        position: relative;
        text-align: center;
        padding: 1em;
    }

    nav .logo {
        position: absolute;
        height: 40px;
        margin-top: 1.5%;
    }

    nav .hamburger {
        position: absolute;
        margin-left: -47%;
        margin-top: 1.25%;
        height: 30px;
    }


    .search_bar {
        position: absolute;
        margin-left: -43%;
        margin-top: 0.8%;
        height: 50px;
    }

    .search_button {
        position: absolute;
        margin-left: -42%;
        margin-top: 1.5%;
        height: 25px;
    
    }

    nav > p {
        position: absolute;
        font-family: Avenir;
        font-size: 24px;
        left: 10.5%;
        margin-top: 1.55%;
        opacity: 0.5;
    }

    nav .cart {
        position: absolute;
        height: 37px;
        margin-left: 45%;
        margin-top: 1.5%;
    }

    .image {
        background-image: url("Home back.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 900px;
    }


    .overlay {
        width: 100%;
        position: relative;
        color: white;
        font-family:Avenir;
    }

    .overlay > h1 {
        position: absolute;
        margin-left: 16%;
        margin-top: 18%;
        font-size: 66px;
        font-weight: 400;
        letter-spacing: 0.06em;
    }


    .shopbutton {
        position: absolute;
        margin-left: 72%;
        margin-top: 32%;
        height: 100px;
    }

    .overlay > h2 {
        position: absolute;
        margin-left: 73.75%;
        margin-top: 33%;
        font-size: 45px;
        font-weight: 10;
        letter-spacing: 0.05em;
    }

    .sale {
        font-family: 'Playfair Display', serif;
    }


    .sale > header {
        text-align: center;
        padding-top: 1em;

        font-family: Avenir;
        font-size: 50px;
    }

    .sale > img {
        position: relative;
        width: 90%;
        padding-left: 5%;
        opacity: 0.3;
    }

    .plist {
        display: flex;
    }

    .plist > img {
        position: relative;
        height: 350px;
        padding-top: 2.5em;
        padding-bottom: 2.5em;
        margin-left: 12%;
    }

    .plist > h3 {
        position: relative;
        font-size: 35px;
        font-weight: 50;
        margin-top: 12%;
        margin-left: 5%;
    }

    .oldp {
        position: relative;
        font-family: 'Playfair Display', serif;
        font-size: 23px;
        margin-left: 20%;
        margin-top: 13.2%;
        font-weight: 10;
        text-decoration-line: line-through;
    }

    .newp {
        position: relative;
        font-family: 'Playfair Display', serif;
        padding-left: 1%;
        font-size: 30px;
        font-weight: 600;
        color: #9B7757;
        margin-top: 12.5%;
    }

    .condition {
        position: absolute;
        display: flex;
        margin-left: 49%;
        margin-top: 20%;
    }

    .condition > p {
        font-family: Avenir;
        position: relative;
        text-align: center;
        margin-top: 4%;
        padding-left: 1em;
        padding-right: 1em;
    }

    .condition > img {
        position: relative;
        height: 40px;
        padding: 1em;
    }

    .info {
        display: flex;
        background-color: #624021;
        color: white;
        font-family: Avenir;
        font-size: 18px;
        justify-content: space-between;
        text-align: center;
        line-height: 1.5em;
        padding: 1em 10em;
    }

    .icon {
        height: 70px;
        margin-top: 40%;
    }



    .email > img {
        height: 60px;
        margin-top: 30%;
    }

    .license > img {
        height: 62px;
        margin-top: 28%;
    }

    
    .help {
        display: flex;
        padding: 3em 8em;
        justify-content: space-between;
        font-size: 20px;
    }

    .help > button {
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        height: 50px;
        border-radius: 100px;
        background-color: #EDEDED;
    }

    .emailsignup{
        position: relative;
        padding-right: 21%;
    }

    .emailsignup > img  {
        position: absolute;
        margin-top: -3%;
        width: 300px;

    }

    .emailsignup > button {
        position: absolute;
        margin-left: 76%;
        margin-top: -13%;
        height: 40px;
        width: 100px;
        background-color: #F9C78A;
        font-family: Avenir;
        font-size: 16px;
        border-radius: 10px;
    }



    


}

@media screen and (max-width: 600px) {
    body{ 
        background-color: #EDEDED;
        margin: 0%;
    }

    nav{
        position: relative;
        text-align: center;
        padding: 0.75em;
    }

    nav .logo {
        position: absolute;
        padding-top: 1em;
        height: 30px;
        margin-left: -3%;
    }

    nav .hamburger {
        position: absolute;
        padding-top: 1em;
        margin-left: -45%;
        height: 24px;
    }

    .search_bar {
        position: absolute;
        margin-left: -47%;
        margin-top: 10%;
        height: 60px;
        width: 95%;
    }

    .search_button {
        position: absolute;
        margin-top: 12.5%;
        margin-left: -42%;
        height: 25px;
    
    }

    nav > p {
        position: absolute;
        font-family: Avenir;
        font-size: 22px;
        margin-left: 13.8%;
        margin-top: 12.8%;
        opacity: 0.55;
    }

    nav .cart {
        position: absolute;
        padding-top: 1em;
        height: 30px;
        margin-left: 40%;
    }

    .image {
        width: 100%;
        height: 1100px;
        background-image: url("mobile back.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .overlay {
        width: 100%;
        position: relative;
        color: white;
        font-family:Avenir;
    }

    .overlay > h1 {
        position: absolute;
        justify-content: center;
        margin-top: 71%;
        font-size: 50px;
        font-weight: 100;
        letter-spacing: 0.06em;
        padding-left: 2em;
        padding-right: 2em;
        text-align: center;
    }

    .shopbutton {
        position: absolute;
        margin-left: 34%;
        margin-top: 102%;
        height: 80px;
        width: 180px;
    }

    .overlay > h2 {
        position: absolute;
        margin-left: 41%;
        margin-top: 104%;
        font-size: 40px;
        font-weight: 10;
    }

    .sale {
        font-family: 'Playfair Display', serif;
    }

    .sale > header {
        text-align: center;
        font-family: Avenir;
        font-size: 40px;
        padding-top: 1em;
    }

    .plist > img {
        width: 400px;
        margin-left: 15.5%;
        padding-top: 2em;
        padding-bottom: 1em;
    }

    .plist > h3 {
        text-align: center;
        font-size: 30px;
        font-weight: 10;
    }

    .oldp {
        display: inline;
        font-family: 'Playfair Display', serif;
        margin-left: 41.5%;
        text-decoration: line-through;
        font-size: 25px;

    }

    .newp {
        display: inline;
        font-family: 'Playfair Display', serif;
        padding-left: 0.3em;
        font-size: 30px;
        color: #624021;
    }

    .sale > img {
        width: 90%;
        margin-left: 5%;

    }

    .condition {
        position: relative;
        display: flex;
        margin-left: 4%;
        text-align: center;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .condition > img {
        height: 35px;
        padding-left: 1em;
        padding-right: 1em;
    }

    .condition > p {
        position: relative;
        margin-top: 0%;
        padding-left: 1em;
        padding-right: 1em;
    }

    .info {
        background-color: #624021;
        font-family: Avenir;
        font-size: 13px;
        font-weight: 10;
        line-height: 1.5em;
        text-align: center;
        display: flex;
        color: white;
        justify-content: space-between;
        padding: 2em;
    }

    .icon {
        height: 50px;
        margin-top: 10%;
    }

    .email > img {
        height: 42px;
    }

    .license > img {
        height: 44px;
    }

    .help {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        padding: 1.5em 3em;
    }

    .help > button {
        font-family: 'Playfair Display', serif;
        font-size: 15px;
        height: 50px;
        border-radius: 100px;
        background-color: #EDEDED;
    }

    .emailsignup{
        position: absolute;
        padding-right: 21%;
        padding-top: 12%;
        margin-left: 10%;
    }

    .emailsignup > img  {
        position: absolute;
        margin-top: -3%;
        width: 300px;

    }

    .emailsignup > button {
        position: absolute;
        margin-left: 140%;
        margin-top: -18%;
        height: 33px;
        width: 100px;
        background-color: #F9C78A;
        font-family: Avenir;
        font-size: 12px;
        border-radius: 10px;
    }



    
}




