@font-face {
    font-family: Avenir;
    src: url(AvenirLTStd-Book.otf);
  }

@font-face {
    font-family: Playfair Display;
    src: url(PlayfairDisplay-VariableFont_wght.ttf);
}

@media screen and (min-width: 600px) {

    .home_over {
        background-image: url("Home back.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
    }


    .overlay {
        width: 100%;
        position: relative;
        color: white;
        font-family: Avenir;
    }

    .overlay > h2 {
        position: absolute;
        margin-left: 16%;
        margin-top: 18%;
        font-size: 66px;
        font-weight: 400;
        letter-spacing: 0.06em;
    }

    

    

    #homepage .btn {
        position: absolute;
        border: 2px solid white;
        height: 100px;
        width: 200px;
        color: white;
        font-family: Avenir;
        font-size: 45px;
        font-weight: 10;
        letter-spacing: 0.05em;
        background-color: transparent;
        border-radius: 15px;
        margin-top: 32%;
        margin-left: 75%;
    }

    #homepage .btn:hover {
        background-color: #EFEFEF;
        color: black;
    }

   

    .pline {
        position: relative;
        width: 90%;
        padding-left: 5%;
        opacity: 0.3;
    }

    .plist {
        display: flex;
    }

    #homepage .pimage, #plistpage .pimage, #cart .pimage {
        position: relative;
        height: 350px;
        padding-top: 2.5em;
        padding-bottom: 2.5em;
        margin-left: 30%;
    }

    #homepage .plist > h3, #plistpage .plist > h3 {
        position: relative;
        font-size: 35px;
        font-weight: 50;
        margin-top: 11%;
        padding-left: 18%;
        white-space: nowrap;
    }

    #homepage .oldp, #plistpage .oldp {
        position: relative;
        font-size: 23px;
        margin-left: 15%;
        margin-top: 12.2%;
        font-weight: 10;
    }

    #homepage .newp, #plistpage .newp {
        position: relative;
        padding-left: 1%;
        font-size: 30px;
        font-weight: 500;
        margin-top: 11.5%;
    }

    #homepage .condition, #plistpage .condition {
        position: absolute;
        margin-left: 49%;
        margin-top: 19%;
    }

    .condition > p {
        font-family: Avenir;
        position: relative;
        text-align: center;
        margin-top: 4%;
        padding-left: 1em;
        padding-right: 1em;
    }

    .condition > img {
        position: relative;
        height: 40px;
        padding: 1em;
    }

    /* Below is the code for the product page */

    .prod {
        display: flex;
        padding-top: 5%;
    }

    #productpage .pimage {
        display: grid;
        padding-top: 4em;
        padding-left: 4em;
    }

    .primary_img {
        width: 700px;

    } 

    .secondary_img {
        width: 700px;
        margin-left: -0.5%;
        margin-top: -22%;
    }

    #productpage .pinfo {
        display: relative;
    }

    #productpage .pinfo > h3 {
        position: relative;
        font-family: Avenir;
        font-weight: 200;
        font-size: 55px;
        margin-top: 30%;
        padding-left: 24%;
    }

    .price {
        position: relative;
        display: flex;
        margin-left: 40%;
    }

    #productpage .oldp {
        font-family: Playfair Display;
        font-size: 28px;
        font-weight: 10;
        text-decoration-line: line-through;
        margin-top: 8.5%;
    }

    #productpage .newp {
        font-family: Playfair Display;
        padding-left: 8%;
        font-size: 35px;
        font-weight: 500;
        color: #9B7757;
    }

    #productpage .condition {
        display: flex;
        margin-left: 9%;
        padding-top: 5%;

    }

    .condition > p {
        font-family: Avenir;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
    }


    .des {
        font-family: Playfair Display;
        font-size: 20px;
        text-align: center;
        padding-top: 5%;
        padding-right: 10%;
        margin-left: 10%;
    }

    .buttons {
        display: flex;
        margin-left: 15%;
        padding-top: 8%;
        justify-content: space-around;
    }

    .buttons > button {
        font-family: Avenir;
        width: 80px;
        font-size: 20px;
        border-radius: 10px;
        letter-spacing: 0.2em;
    }

    .atc {
        position: relative;

    }

    .plus {
        position: absolute;
        margin-left: -80%;
    }

    .atclogo {
        position: absolute;
        margin-left: -50%;
        margin-top: 11%;
        height: 30px;
        opacity: 0.75;
    }

    .extra {
        font-family: Avenir;
        font-style: oblique;
        text-align: center;
        padding-top: 5%;
    }

    /* Code for shopping cart */

    .cartcont {
        display: flex;
    }

    .summary {
        position: relative;
        margin-left: 35%;
        margin-top: 5%;
    }

    #cart .pinfo {
        position: relative;
        margin-left: 40%;
        margin-top: 15%;
    }

     #cart .pinfo > h3 {
        font-weight: 400;
        font-size: 35px;
        margin-left: 10%;
        white-space: nowrap;
    }

    #cart .price {
        position: relative;
        margin-top: -12%;
    }

    #cart .oldp {
        font-size: 25px;
        font-weight: 100;
    } 

    #cart .newp {
        font-size: 30px;
        margin-top: 18%;
        padding-left: 0.3em;
        font-weight: 500;
    } 

    .cline {
        width: 160%;
        opacity: 0.3;
        padding-left: 8%;
    }

    .summary > h5 {
        text-align: center;
        font-size: 30px;
        font-family: Avenir;
        font-weight: 500;
    }

    .subtot, .other, .tot {
        display: flex;
        font-size: 25px;
        font-family: Playfair Display;
        justify-content: space-around;
    }

    .checkoutbuttons {
        position: relative;
        display: flex;
        padding-top: 80%;
    }

    .checkoutbuttons > img {
        height: 70px;
    }

    .checkoutbuttons > a > img {
        height: 80px;
    }

    .checkoutbuttons > a > p {
        position: absolute;
        color: white;
        font-family: Playfair Display;
        font-size: 25px;
        margin-top: -22%;
        margin-left: 13%;
    }

    .tot {
        font-weight: 500;
        font-size: 30px;
    }

    #cart .btn {
        background-color: #FFCC00;
        opacity: 0.9;
        color: white;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 300px;
        height: 70px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 20px;
        margin-top: 90%;
    }

    /* Test code for checkout form */

    .row {
        display: flex;
    }
    
    #checkout_page .cinfo {
        margin-left: 6%;
        width: 60%;
    }
    


    #checkout_page .col-50 > h2 {
        text-align: center;
        font-size: 28px;
        white-space: nowrap;
        padding-bottom: 1em;
    }
      
    #checkout_page .cont {
        margin-left: 20%;
    }

      
    #checkout_page input[type=text]{
        width: 100%;
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 6px;

    }
      
    label {
        display: block;
        margin-bottom: 3%;
        margin-left: 5%;
        font-family: Playfair Display;
    }
      
      
    #checkout_page .btn {
        background-color: #FFCC00;
        opacity: 0.9;
        color: white;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 300px;
        height: 70px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 20px;
        margin-left: 12.5%;
        margin-top: 50%;
    }
      
    #cart .btn:hover, #checkout_page .btn:hover {
        opacity: 1;
        box-shadow: 5px 10px #EAEAEA;
    }
      
    span.price {
        float: right;
        color: grey;
    }

    select {
        appearance: none;
        margin-top: 4.25%;
        background-color: white;
        padding: 15px;
        font-family: Playfair Display;
        color: #9b9b9b;
        cursor: inherit;
        border: 1px solid #ccc;
        border-radius: 6px;
    }



    
    
    

    

}


@media screen and (max-width: 600px) {

    .home_over {
        width: 100%;
        height: 1100px;
        background-image: url("mobile back.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .overlay {
        width: 100%;
        position: relative;
        color: white;
        font-family:Avenir;
        text-align: center;
    }

    .overlay > h2 {
        position: absolute;
        margin-top: 71%;
        font-size: 50px;
        font-weight: 100;
        letter-spacing: 0.06em;
        padding-left: 2em;
        padding-right: 2em;
    }

    .shopbutton {
        position: absolute;
        margin-left: -15.5%;
        margin-top: 102%;
        text-decoration: none;
    }

    .overlay > p {
        position: absolute;
        margin-left: 41%;
        margin-top: 104%;
        font-size: 40px;
        font-weight: 10;
    }

    .plist_page > h1 { 
        font-size: 40px;
        font-weight: 400;
        padding-top: 20%;
    }

    .overlay > a > img {
        height: 80px;
        width: 160px;
    }

    .overlay > a > h5 {
        color: white;
        margin-top: -45%;
        font-size: 37px;
        font-weight: 10;
        letter-spacing: 0.03em;
    }

    /* The section below is for displaying products on the home and listing pages */
    .home_sale, .plist_page {
        text-align: center;
    }

    #homepage .pimage, #plistpage .pimage {
        width: 80%;
        padding-top: 2em;
        padding-bottom: 1em;
    }

    #homepage .plist > h3, #plistpage .plist > h3 {
        text-align: center;
        font-size: 30px;
        font-weight: 10;
    }

    #homepage .oldp, #plistpage .oldp {
        display: inline;
        margin-left: 5%;
        font-size: 25px;

    }

    #homepage .newp, #plistpage .newp {
        display: inline;
        padding-left: 0.3em;
        font-size: 30px;
    }

    .pline {
        width: 90%;

    }

    #homepage .condition, #plistpage .condition {
        position: relative;
        display: flex;
        margin-left: 4%;
        text-align: center;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .condition > img {
        height: 35px;
        padding-left: 1em;
        padding-right: 1em;
    }

    .condition > p {
        position: relative;
        margin-top: 0%;
        padding-left: 1em;
        padding-right: 1em;
    }

    /* This is the start of the code for the mobile product*/

    #productpage .pimage {
        position: relative;
        margin-top: 25%;
        text-align: center;
    }

    .primary_img {
        width: 90%;
    }

    .secondary_img {
        width: 90%;
        margin-left: -1%;
        margin-top: -1%;
    }

    .pinfo {
        text-align: center;
    }

    #productpage .pinfo > h3 {
        font-weight: 100;
        font-size: 35px;
    }

    .price {
        display: flex;
        justify-content: center;
    }

    #productpage .oldp {
        font-size: 25px;
    }

    #productpage .newp {
        padding-left: 0.3em;
        font-size: 30px;
        margin-top: 2.5%;
    }

    #productpage .condition {
        position: relative;
        display: flex;
        margin-left: 4%;
        text-align: center;
        padding-top: 2em;
    }

    .des {
        font-family: 'Playfair Display', serif;
        padding: 2em;
    }

    .buttons {
        display: flex;
        justify-content: center;
    }

    .buttons > button {
        width: 100px;
        border-radius: 10px;
        font-size: 22px;
        letter-spacing: 0.2em;
        font-family: Avenir;
    }

    .atc {
        position: relative;
        margin-left: 40%;
        
    }

    .atcbutton {
        height: 50px;
    }

    .plus {
        position: absolute;
        margin-left: -83%;
        margin-top: -2%;
       
    }

    .atclogo {
        position: absolute;
        height: 25px;
        opacity: 0.75;
        margin-left: -50%;
        margin-top: 15%;
    }


      

    .extra {
        font-family: Avenir;
        font-style: oblique;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .extra > img {
        width: 85%;
    }

    /* Code for shopping cart */
    .cartcont {
        text-align: center;
    }

    #cart > h1 {
        padding-top: 18%;
    }

    #cart .pimage {
        width: 250px;
        padding-left: 10%;
        padding-top: 1.5em;
    }

    #cart .plist {
        display: flex;
    }

    #cart .pinfo {
        position: relative;
        margin-left: 10.5%;
        margin-top: 6%;

    }

    #cart .pinfo > h3 {
        font-size: 25px;
    }

    #cart .price {
        position: relative;
        margin-top: -13%;
        font-weight: 100;
        font-family: Playfair Display;
    }

    #cart .oldp {
        font-size: 20px;
        padding-right: 0.5em;
    }

    #cart .newp {
        position: relative;
        font-size: 24px;
        margin-top: 12%;
    }

    .cline {
        width: 89%;
        padding-top: 2em;
        padding-bottom: 1em;
    }

    .summary > h5 {
        margin-top: 3%;
        font-size: 25px;
        font-family: Avenir;
        font-weight: 500;
    }

    .subtot, .other, .tot {
        display: flex;
        font-size: 20px;
        font-family: Playfair Display;
        justify-content: space-between;
    }

    .subtot, .other {
        padding-left: 2em;
        padding-right: 2em;
    }

    .checkoutbuttons {
        padding: 2em;
    }

    .checkoutbuttons > a {
        text-decoration: none;
    }

    .checkoutbuttons > img {
        height: 60px;
    }

    .checkoutbuttons > a > img {
        height: 70px;

    }

    .checkoutbuttons > a > p {
        color: white;
        margin-top: -10%;
        margin-left: 15%;
        font-family: Playfair Display;
        font-size: 20px;   
    }

    .tot {
        padding-left: 1.5em;
        padding-right: 1.5em;
        font-weight: 500;
        font-size: 25px;
    }
}