@font-face {
    font-family: Avenir;
    src: url(AvenirLTStd-Book.otf);
  }

@font-face {
    font-family: Playfair Display;
    src: url(PlayfairDisplay-VariableFont_wght.ttf);
}

@media screen and (min-width: 600px) {
    

    body{ 
        background-color: #EDEDED;
        margin: 0%;
    }

    nav{
        position: relative;
        text-align: center;
        padding: 1em;
    }

    nav .logo {
        position: absolute;
        height: 40px;
        margin-top: 1.5%;
        margin-left: -1.5%;
    }

    nav .hamburger {
        position: absolute;
        margin-left: -47%;
        margin-top: 1.25%;
        height: 30px;
    }


    .search_bar {
        position: absolute;
        margin-left: -43%;
        margin-top: 0.8%;
        height: 50px;
    }

    .search_button {
        position: absolute;
        margin-left: -42%;
        margin-top: 1.5%;
        height: 25px;
    
    }

    nav > p {
        position: absolute;
        font-family: Avenir;
        font-size: 24px;
        left: 10.5%;
        margin-top: 1.55%;
        opacity: 0.5;
    }

    nav .cart {
        position: absolute;
        height: 37px;
        margin-left: 45%;
        margin-top: 1.5%;
    }

    h1 {
        text-align: center;
        font-size: 45px;
        font-weight: 500;
        padding-top: 1.5em;
        padding-bottom: 0.8em;
        opacity: 0.85;
    }

    h2 {
        
    }

    h3 {
        font-weight: 50;
    }

    .oldp {
        font-weight: 10;
        text-decoration-line: line-through;
    }

    .newp {
        font-weight: 600;
        color: #9B7757;
    }

    .condition {
        display: flex;
    }

    

    .info {
        display: flex;
        background-color: #624021;
        opacity: 0.85;
        color: white;
        font-family: Avenir;
        font-size: 16px;
        justify-content: space-between;
        text-align: center;
        line-height: 1.5em;
        padding: 1em 10em;
    }

    .icon {
        height: 70px;
        margin-top: 40%;
    }



    .email > img {
        height: 60px;
        margin-top: 30%;
    }

    .license > img {
        height: 62px;
        margin-top: 28%;
    }

    .warranty > img {
        height: 73px;
    }

    
    .help {
        display: flex;
        padding: 3em 8em;
        justify-content: space-between;
        font-size: 20px;
    }

    .help > button {
        font-family: Playfair Display;
        font-size: 20px;
        height: 50px;
        border-radius: 100px;
        background-color: #EDEDED;
    }

    .emailsignup{
        position: relative;
        padding-right: 21%;
    }

    .emailsignup > img  {
        position: absolute;
        margin-top: -3%;
        width: 300px;

    }

    .emailsignup > button {
        position: absolute;
        margin-left: 76%;
        margin-top: -13%;
        height: 40px;
        width: 100px;
        background-color: #F9C78A;
        font-family: Avenir;
        font-size: 16px;
        border-radius: 10px;
    }


}

@media screen and (max-width: 600px) {
    body{ 
        background-color: #EDEDED;
        margin: 0%;
    }

    nav{
        position: relative;
        text-align: center;
        padding: 0.75em;
    }

    nav .logo {
        position: absolute;
        padding-top: 1em;
        height: 30px;
        margin-left: -3%;
    }

    nav .hamburger {
        position: absolute;
        padding-top: 1em;
        margin-left: -45%;
        height: 24px;
    }

    .search_bar {
        position: absolute;
        margin-left: -47%;
        margin-top: 10%;
        height: 60px;
        width: 95%;
    }

    .search_button {
        position: absolute;
        margin-top: 12.5%;
        margin-left: -42%;
        height: 25px;
    
    }

    nav > p {
        position: absolute;
        font-family: Avenir;
        font-size: 20px;
        margin-left: 12%;
        margin-top: 13.3%;
        opacity: 0.5;
    }

    nav .cart {
        position: absolute;
        padding-top: 1em;
        height: 30px;
        margin-left: 40%;
    }

    h1 {
        text-align: center;
        font-family: Avenir;
        font-size: 40px;
        font-weight: 400;
        padding-top: 0.3em;
    }

    h3 {
        font-family: Playfair Display;
        font-weight: 50;
    }
    
    h4 {
        font-family: Playfair Display;
    }


   

    .oldp {
        font-weight: 10;
        font-family: Playfair Display;
        text-decoration-line: line-through;
    }

    .newp {
        font-weight: 500;
        font-family: Playfair Display;
        color: #9B7757;
    }

    .condition {
        display: flex;
        text-align: center;
    }
    

    .info {
        background-color: #624021;
        opacity: 0.85;
        font-family: Avenir;
        font-size: 13px;
        font-weight: 10;
        line-height: 1.5em;
        text-align: center;
        display: flex;
        color: white;
        justify-content: space-between;
        padding: 2em;
    }

    .icon {
        height: 50px;
        margin-top: 10%;
    }

    .email > img {
        height: 42px;
    }

    .license > img {
        height: 44px;
    }

    .help {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        padding: 1.5em 3em;
    }

    .help > button {
        font-family: Playfair Display;
        font-size: 15px;
        height: 50px;
        border-radius: 100px;
        background-color: #EDEDED;
    }

    .emailsignup{
        position: absolute;
        padding-right: 21%;
        padding-top: 12%;
        margin-left: 10%;
    }

    .emailsignup > img  {
        position: absolute;
        margin-top: -3%;
        width: 300px;

    }

    .emailsignup > button {
        position: absolute;
        margin-left: 140%;
        margin-top: -18%;
        height: 33px;
        width: 100px;
        background-color: #F9C78A;
        font-family: Avenir;
        font-size: 12px;
        border-radius: 10px;
    }



    
}


