@font-face {
    font-family: Avenir;
    src: url(../Fonts/AvenirLTStd-Book.otf);
  }

@font-face {
    font-family: Playfair Display;
    src: url(../Fonts/PlayfairDisplay-VariableFont_wght.ttf);
}


h1 {
    font-family: Avenir;
}

h2 {
    font-family: Avenir;
    font-weight: 400;
}

h3 {
    font-family: Playfair Display;
    font-weight: 500;
}

h4 {
    font-family: Playfair Display;
}

.oldp, .newp, .btn {
    font-family: Playfair Display;
}

.oldp {
    font-weight: 10;
    text-decoration: line-through;
}

.newp {
    color: #9B7757;
    font-weight: 500;
}

.overlay {
    font-family: Avenir;
    color: white;
}

.condition > p { 
    font-family: Avenir;
}

.des {
    font-family: Playfair Display;
}

.buttons > button {
    font-family: Avenir;
}

#cart .quant {
    font-family: Playfair Display;
}

.subtot, .other, .tot {
    font-family: Playfair Display;
}

#checkout_page .user_form label {
    font-family: Playfair Display;
}

select {
    font-family: Playfair Display;
    color: #9b9b9b;
}

#checkout_page .total {
    font-family: Playfair Display;
}

#conf .st_cont, #conf .items, #conf .details {
    font-family: Playfair Display;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 45px;
        font-weight: 400;
    }

    .overlay > h2 {
        font-size: 66px;
        font-weight: 400;
        letter-spacing: 0.06em;
    }

    #homepage .btn {
        color: white;
        font-family: Avenir;
        font-size: 45px;
        font-weight: 10;
        letter-spacing: 0.05em;
    }

    #homepage .plist > h3, #plistpage .plist > h3 {
        font-size: 35px;
        font-weight: 50;
    }

    #homepage .oldp, #plistpage .oldp {
        font-size: 23px;
    }

    #homepage .newp, #plistpage .newp {
        font-size: 30px;
    }

    #productpage .pinfo > h3 {
        font-family: Avenir;
        font-weight: 200;
        font-size: 55px;
    }


    #productpage .oldp {
        font-size: 28px;
    }

    #productpage .newp {
        font-size: 35px;
    }

    .des {
        font-size: 20px;
    }
    
    .buttons > button {
        font-size: 20px;
        letter-spacing: 0.2em;
    }

    .extra {
        font-family: Avenir;
        font-style: oblique;
    }

    #cart .pinfo > h3 {
        font-weight: 400;
        font-size: 30px;
        white-space: nowrap;
    }

    #cart .oldp {
        font-size: 24px;
    } 

    #cart .newp {
        font-size: 28px;
    }

    #cart .quant {
        font-size: 22px;
        letter-spacing: 0.1em;
        font-weight: 400;
    }

    .summary > h5 {
        font-size: 30px;
        font-family: Avenir;
        font-weight: 500;
    }

    .subtot, .other, .tot {
        font-size: 25px;
    }

    .checkoutbuttons > a > p { 
        color: white;
        font-family: Playfair Display;
        font-size: 25px;
    }

    .tot {
        font-weight: 500;
        font-size: 30px;
    }

    #cart .btn {
        font-size: 20px;
    }

    #checkout_page h2 {
        font-size: 28px;
        white-space: nowrap;
    }

    #checkout_page input[type=text] {
        font-size: 12px;
    }

    

    #checkout_page .btn, #conf .btn {
        font-size: 20px;
    }

    select {
        font-size: 12px;
    }

    #checkout_page .newp {
        font-size: 22px;
    }

    #checkout_page .total {
        font-size: 25px;
    }


    #conf .thanks {
        font-family: Avenir;
        font-size: 20px;
    }

    #conf h3 {
        font-size: 21px;
        white-space: nowrap;
    }

    #conf .newp {
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
        font-weight: 400;
    }

    .overlay > h2 {
        font-size: 51px;
        font-weight: 100;
        letter-spacing: 0.06em;
    }

    #homepage .btn {
        color: white;
        font-family: Avenir;
        font-size: 38px;
        font-weight: 10;
        letter-spacing: 0.05em;
    }

    .plist_page > h1 { 
        font-size: 40px;
        font-weight: 400;
    }

    #homepage .plist > h3, #plistpage .plist > h3 {
        font-size: 30px;
        font-weight: 10;
    }

    #homepage .oldp, #plistpage .oldp, #productpage .oldp {
        font-size: 25px;
    }

    #homepage .newp, #plistpage .newp, #productpage .newp {
        font-size: 30px;
    }

    #productpage .pinfo > h3 {
        font-weight: 100;
        font-size: 35px;
    }

    .buttons > button {
        font-size: 22px;
    }

    .extra {
        font-family: Avenir;
        font-style: oblique;
    }

    #cart .pinfo > h3 {
        font-size: 22px;
    }

    #cart .price {
        font-weight: 100;
        font-family: Playfair Display;
    }

    #cart .oldp {
        font-size: 20px;
    }

    #cart .newp {
        font-size: 24px;
    }

    .summary > h5 {
        font-size: 25px;
        font-family: Avenir;
        font-weight: 500;
    }

    .subtot, .other, .tot {
        font-size: 20px;
    }

    #cart .btn {
        font-size: 20px;
    }

    .tot {
        font-weight: 500;
        font-size: 25px;
    }

    #checkout_page h2 {
        font-size: 25px;
    }

    #checkout_page input[type=text] {
        font-size: 12px;
    }

    #checkout_page .btn, #conf .btn {
        font-size: 20px;
    }

    select {
        font-size: 12px;
    }

    #checkout_page .total {
        font-size: 25px;
    }

    #conf .thanks {
        font-family: Avenir;
        font-size: 17px;
    }

    #conf h2 {
        font-weight: 500;
    }

    #conf .plist > h3 {
        font-size: 20px;
    }

    #conf .newp {
        font-size: 22px;
    }

    #conf .quant {
        font-size: 18px;
    }


}



