@font-face {
    font-family: Avenir;
    src: url(../Fonts/AvenirLTStd-Book.otf);
  }

@font-face {
    font-family: Playfair Display;
    src: url(../Fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@media screen and (min-width: 600px) {

    .home_over {
        background-image: url("../Images/Home back.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
    }


    .overlay {
        width: 100%;
        position: relative;
    }

    .overlay > h2 {
        position: absolute;
        margin-left: 16%;
        margin-top: 18%;
    }

    

    

    #homepage .btn {
        position: absolute;
        border: 2px solid white;
        height: 100px;
        width: 200px;
        background-color: transparent;
        border-radius: 15px;
        margin-top: 32%;
        margin-left: 75%;
    }

    #homepage .btn:hover {
        background-color: #EFEFEF;
        color: black;

    }

   

    .pline {
        position: relative;
        width: 90%;
        padding-left: 5%;
        opacity: 0.3;
    }

    .plist {
        display: flex;
    }

    #homepage .pimage, #plistpage .pimage, #cart .pimage {
        position: relative;
        height: 350px;
        padding-top: 2.5em;
        padding-bottom: 2.5em;
        margin-left: 30%;
    }

    #homepage .plist > h3, #plistpage .plist > h3 {
        position: relative;
        margin-top: 11%;
        padding-left: 18%;
        white-space: nowrap;
    }

    #homepage .oldp, #plistpage .oldp {
        position: relative;
        margin-left: 15%;
        margin-top: 12.2%;
    }

    #homepage .newp, #plistpage .newp {
        position: relative;
        padding-left: 1%;
        margin-top: 11.5%;
    }

    #homepage .condition, #plistpage .condition {
        position: absolute;
        margin-left: 46%;
        margin-top: 19%;
    }

    .condition > p {
        position: relative;
        text-align: center;
        margin-top: 4%;
        padding-left: 1em;
        padding-right: 1em;
    }

    .condition > img {
        position: relative;
        height: 40px;
        padding: 1em;
    }

    /* Below is the code for the product page */

    .prod {
        display: flex;
        padding-top: 5%;
    }

    #productpage .pimage {
        display: grid;
        padding-top: 4em;
        padding-left: 4em;
    }

    .primary_img {
        width: 700px;

    } 

    .secondary_img {
        width: 700px;
        margin-left: -0.5%;
        margin-top: -22%;
    }

    #productpage .pinfo {
        display: relative;
    }

    #productpage .pinfo > h3 {
        position: relative;
        margin-top: 30%;
        padding-left: 24%;
    }

    .price {
        position: relative;
        display: flex;
        margin-left: 40%;
    }

    #productpage .oldp {
        margin-top: 8.5%;
    }

    #productpage .newp {
        padding-left: 8%;
    }

    #productpage .condition {
        display: flex;
        margin-left: 9%;
        padding-top: 5%;

    }

    .condition > p {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
    }


    .des {
        text-align: center;
        padding-top: 5%;
        padding-right: 10%;
        margin-left: 10%;
    }

    .buttons {
        display: flex;
        margin-left: 15%;
        padding-top: 8%;
        justify-content: space-around;
    }

    .buttons > button {
        width: 80px;
        border-radius: 10px;
    }

    .atc {
        position: relative;

    }

    .plus {
        position: absolute;
        margin-left: -80%;
    }

    .atclogo {
        position: absolute;
        margin-left: -50%;
        margin-top: 11%;
        height: 30px;
        opacity: 0.75;
    }

    .extra {
        text-align: center;
        padding-top: 5%;
    }

    /* Code for shopping cart */

    .cartcont {
        display: flex;
    }

    .summary {
        position: relative;
        margin-left: 35%;
        margin-top: 5%;
    }

    #cart .pinfo {
        position: relative;
        margin-left: 40%;
        margin-top: 15%;
    }

     #cart .pinfo > h3 {
        margin-left: 10%;
    }

    #cart .price {
        position: relative;
        margin-top: -12%;
    }

    #cart .newp {
        margin-top: 18%;
        padding-left: 0.3em;
    } 

    .cline {
        width: 160%;
        opacity: 0.3;
        padding-left: 8%;
    }

    .summary > h5 {
        text-align: center;
    }

    .subtot, .other, .tot {
        display: flex;
        justify-content: space-around;
    }

    .checkoutbuttons {
        position: relative;
        display: flex;
        padding-top: 80%;
    }

    .checkoutbuttons > img {
        height: 70px;
    }

    .checkoutbuttons > a > img {
        height: 80px;
    }

    .checkoutbuttons > a > p {
        position: absolute;
        margin-top: -22%;
        margin-left: 13%;
    }

    #cart .btn {
        background-color: #FFCC00;
        opacity: 0.9;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 300px;
        height: 70px;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 90%;
    }

    /*Code for checkout form */

    #checkout_page .row {
        display: flex;
    }
    
    #checkout_page .user_form {
        width: 60%;
    }
    


    #checkout_page h2 {
        padding-top: 1em;
        padding-bottom: 0.5em;
        text-align: center;
    }
      
    #checkout_page .cont {
        margin-left: 15%;
        width: 70%;

    }

    #checkout_page input {
        margin-left: 15%;
    }

      
    #checkout_page input[type=text] {
        width: 70%;
        margin-bottom: 20px;
        padding: 16px;
        border: 1px solid #ccc;
        border-radius: 6px;
    }
      

    #checkout_page .user_form label {
        display: grid;
        padding-bottom: 2%;
        margin-left: 16%;
    }

    #checkout_page .btn {
        position: absolute;
        background-color: #FFCC00;
        opacity: 0.9;
        padding: 12px;
        border: none;
        width: 300px;
        height: 70px;
        border-radius: 10px;
        margin-left: 55%;
        margin-top: -85%;
    }
      
      
    #conf .btn {
        background-color: #FFCC00;
        opacity: 0.9;
        padding: 12px;
        border: none;
        width: 300px;
        height: 70px;
        border-radius: 10px;
        margin-left: 12.5%;
        margin-top: 50%;
    }
      
    #cart .btn:hover, #checkout_page .btn:hover, #conf .btn:hover {
        opacity: 1;
        background-color: #f8c600;

        box-shadow: 10px 10px #EAEAEA;
    }

    select {
        appearance: none;
        background-color: white;
        width: 76.5%;
        margin-bottom: 20px;
        margin-left: 15%;
        padding: 16px;
        border: 1px solid #ccc;
        border-radius: 6px;
    }

    #checkout_page .rcol {
        width: 25%;
    }

    #checkout_page .plist {
        justify-content: space-between;
    }

    #checkout_page .pimage {
        height: 100px;
        padding-bottom: 1em;
    }

    #checkout_page h3 {
        position: relative;
        margin-top: 8%;
    }

    #checkout_page .newp {
        margin-top: 7%;
    }

    .tline {
        width: 100%;
        opacity: 0.6;
    }

    #checkout_page .total {
        display: flex;
        justify-content: space-between;
    }


    /* Code for order confirmation*/

    #conf .st_cont, #conf .items, #conf .details {
        text-align: center;
    }


    .order_st {
        position: relative;
        padding-top: 2em;

    }

    #conf .circ {
        height: 50px;
        vertical-align: middle;
    }

    #conf .line {
        width: 131px;
        vertical-align: middle;
    }

    .st_info {
        display: flex;
        justify-content: space-evenly;
        width: 46.5%;
        margin-left: 27.2%;
        text-align: center;
    }

    #conf .cont {
        display: flex;
    }
    
    #conf h2 {
        padding: 1em;
    }
    
    #conf .items {
        margin-left: 10%;
    }

    #conf .pimage {
        height: 200px;
        padding: 1em;
    }

    #conf h3 {
        margin-top: 13%;
        padding-left: 5%;
    }

    #conf .newp {
        margin-top: 12%;
        padding-left: 10%;
    }

    #conf .quant {
        position: absolute;
        margin-top: 9%;
        margin-left: 26%;
    }

    #conf .details {
        padding-left: 15%;
    }
    

}


@media screen and (max-width: 600px) {

    h1 {
        padding-top: 19%;
    }

    .home_over {
        width: 100%;
        height: 1100px;
        background-image: url("../Images/mobile back.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .overlay {
        width: 100%;
        position: relative;
        text-align: center;
    }

    .overlay > h2 {
        position: absolute;
        margin-top: 71%;
        padding-left: 2em;
        padding-right: 2em;
    }

    #homepage .btn {
        position: absolute;
        border: 2px solid white;
        height: 78px;
        width: 28%;
        background-color: transparent;
        border-radius: 15px;
        margin-top: 100%;
        margin-left: -14%;
    }

    #homepage .btn:hover {
        background-color: #EFEFEF;
        color: black;
    }

    /* The section below is for displaying products on the home and listing pages */
    .home_sale, .plist_page {
        text-align: center;
    }

    #homepage .pimage, #plistpage .pimage {
        width: 80%;
        padding-top: 2em;
        padding-bottom: 1em;
    }

    #homepage .plist > h3, #plistpage .plist > h3 {
        text-align: center;
    }

    #homepage .oldp, #plistpage .oldp {
        display: inline;
        margin-left: 5%;
    }

    #homepage .newp, #plistpage .newp {
        display: inline;
        padding-left: 0.3em;
    }

    .pline {
        width: 90%;

    }

    #homepage .condition, #plistpage .condition {
        position: relative;
        display: flex;
        text-align: center;
        padding-top: 2em;
        padding-bottom: 2em;
        margin-left: 11.25%;
    }

    .condition > img {
        height: 35px;
        padding-left: 0.7em;
        padding-right: 0.7em;
    }

    .condition > p {
        position: relative;
        margin-top: 0%;
        padding-left: 0.7em;
        padding-right: 0.7em;
    }

    /* This is the start of the code for the mobile product*/

    #productpage .pimage {
        position: relative;
        margin-top: 25%;
        text-align: center;
    }

    .primary_img {
        width: 90%;
    }

    .secondary_img {
        width: 90%;
        margin-left: -1%;
        margin-top: -1%;
    }

    .pinfo {
        text-align: center;
    }


    .price {
        display: flex;
        justify-content: center;
    }

    #productpage .newp {
        padding-left: 0.3em;
        margin-top: 2.5%;
    }

    #productpage .condition {
        position: relative;
        display: flex;
        margin-left: 4%;
        text-align: center;
        padding-top: 2em;
    }

    .des {
        padding: 2em;
    }

    .buttons {
        display: flex;
        justify-content: center;
    }

    .buttons > button {
        width: 100px;
        border-radius: 10px;
        letter-spacing: 0.2em;
    }

    .atc {
        position: relative;
        margin-left: 40%;
        
    }

    .atcbutton {
        height: 50px;
    }

    .plus {
        position: absolute;
        margin-left: -83%;
        margin-top: -2%;
       
    }

    .atclogo {
        position: absolute;
        height: 25px;
        opacity: 0.75;
        margin-left: -50%;
        margin-top: 15%;
    }


      

    .extra {
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .extra > img {
        width: 85%;
    }

    /* Code for shopping cart */
    .cartcont {
        text-align: center;

    }


    #cart .pimage {
        width: 250px;
        padding-left: 10%;
        padding-top: 1.5em;
    }

    #cart .plist {
        display: flex;
    }

    #cart .pinfo {
        position: relative;
        margin-left: 10.5%;
        margin-top: 6%;

    }

    #cart .price {
        position: relative;
        margin-top: -13%;
    }

    #cart .oldp {
        padding-right: 0.5em;
    }

    #cart .newp {
        position: relative;
        margin-top: 15%;
    }

    #cart .quant {
        margin-top: -5%;
    }

    .cline {
        width: 89%;
        padding-top: 2em;
        padding-bottom: 1em;
    }

    #cart .summary {
        padding-bottom: 2em;
    }

    .summary > h5 {
        margin-top: 3%;
    }

    .subtot, .other, .tot {
        display: flex;
        justify-content: space-between;
    }

    .subtot, .other {
        padding-left: 2em;
        padding-right: 2em;
    }

    #cart .btn {
        background-color: #FFCC00;
        opacity: 0.9;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 70%;
        height: 70px;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 5%;
    }

    .tot {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    /* Code for mobile checkout page */




    #checkout_page h2 {
        padding-top: 1em;
        padding-bottom: 0.5em;
        text-align: center;
    }
      
    #checkout_page .cont {
        margin-left: 15%;
        width: 70%;

    }

      
    #checkout_page input[type=text] {
        width: 91%;
        margin-bottom: 20px;
        padding: 16px;
        border: 1px solid #ccc;
        border-radius: 6px;
    }
      

    #checkout_page .user_form label {
        display: grid;
        padding-bottom: 2%;
        margin-left: 1%;
    }
      
      
    #checkout_page .btn, #conf .btn {
        background-color: #FFCC00;
        opacity: 0.9;
        padding: 12px;
        border: none;
        width: 70%;
        height: 70px;
        border-radius: 10px;
    }

    #checkout_page .btn {
        position: absolute;
        margin-top: 20%;
        width: 70%;
    }
      
    #cart .btn:hover, #checkout_page .btn:hover, #conf .btn:hover {
        opacity: 1;
        background-color: #f8c600;
        box-shadow: 5px 10px #EAEAEA;
    }

    select {
        appearance: none;
        background-color: white;
        width: 100%;
        margin-bottom: 20px;
        padding: 16px;
        border: 1px solid #ccc;
        border-radius: 6px;
    }

    #checkout_page .rcol {
        padding-left: 5.5em;
        padding-right: 5.5em;
        padding-top: 1em;
        padding-bottom: 6em;
        text-align: center;
    }

    #checkout_page .plist, #checkout_page .cart-txt {
        display: none;

    }

    .tline {
        width: 100%;
        opacity: 0.6;
    }

    #checkout_page .total {
        display: flex;
        justify-content: space-between;
    }

    /* Code for mobile order confirmation */

    #conf .st_cont, #conf .items, #conf .details {
        text-align: center;
    }

    #conf .thanks {
        padding-bottom: 2em;
    }

    #conf .circ {
        height: 40px;
        vertical-align: middle;

    }

    #conf .line {
        width: 131px;
        vertical-align: middle;
    }

    .st_info {
        display: flex;
        justify-content: space-between;
        padding-left: 4em;
        padding-right: 4em;
        margin-left: 2.5%;
        text-align: center;
    }

    #conf .pimage {
        width: 250px;
        padding-left: 11%;
        padding-top: 1.5em;
    }

    #conf .plist {
        display: flex;
    }

    #conf .pinfo {
        position: relative;
        margin-left: 10.5%;
        margin-top: 6%;

    }

    #conf .plist > h3 {
        margin-left: 14%;
        margin-top: 10%;
    }


    #conf .newp {
        margin-top: 19%;
        margin-left: -13.5%;
    }

    #conf .quant {
        margin-top: 28%;
        margin-left: -8%;
    }

    #conf .btn {
        margin-top: 3%;
    }

    #conf .details {
        padding-top: 5%;
        padding-bottom: 2em;

    }


    
}